In [1]:
print("Hello World")

Hello World

# Variables and Assignment operators

In [5]:
hoursWorked = 24
payRate = 20

c = hoursWorked*payRate

print(c)

480

# Assignment Operators

In [7]:
name = "Bob Cook"
print(name)

Bob Cook

In [8]:
x = 5
x += 3
print(x)

8

In [9]:
x = 5
x -= 2
print(x)

3

In [10]:
x = 5
x *= 3
print(x)

15

In [12]:
x = 10
x /= 3
print(x)

3.3333333333333335

In [13]:
x = 10
x %= 3
print(x)

1

In [14]:
x = 10
x **=3
print(x)

1000

In [15]:
x = 10
x //=3
print(x)

3

In [19]:
x = 17
y = 3
print(x//y)

5

In [18]:
x = 17
y = 3
print (x/y)

5.666666666666667

# Arithmetic operators

In [20]:
x = 5
y = 3
print(x+y)

8

In [21]:
x = 5
y = 3
print(x-y)

2

In [22]:
x = 5
y = 3
print (x*y)

15

In [23]:
x = 10
y = 2
print (x/y)

5.0

In [24]:
x = 10
y = 3
print (x % y)

1

# Comparison Operators

In [25]:
x = 10
y = 3
print(x==y)

False

In [26]:
X = 10
y = 3
print(x != y)

True

In [27]:
x = 10
y = 3
print(x>y)

True

In [28]:
x = 10
y = 3
print (x<y)

False

In [31]:
x = 10
y = 3
print (x>=y)

True

# Logical Operators

In [32]:
x = 10
print (x>2 and x<11)

True

In [33]:
x = 10
print (x > 2 or x < 9)

True

In [34]:
x = 10
print(not(x > 2 and x <11))

False

# Identity operators

In [41]:
x = ['truck', 'car', 'suv']
print('truck' in x)

True

In [40]:
x = ['truck', 'car', 'suv']
print('truck' not in x)

False

# Data Types

## Numeric

In [42]:
x = 5
print(type(x))

<class 'int'>

In [43]:
x = 5.5
print(type(x))

<class 'float'>

In [46]:
x = 5*1j
print(type(x))

<class 'complex'>

## Text

In [49]:
x = '''Hello 
Bob'''
print(x)

Hello
Bob

In [51]:
x = "Hello Bob"
print(x[4:7])

o B

In [53]:
x = "Bob"
y = " Cook"
print(x+y)

Bob Cook

In [54]:
x = "Hello Bob"
print(x.upper())

HELLO BOB

In [55]:
x = 'Hello Bob'
print(x.lower())

hello bob

In [57]:
x = "Hello Bob, this is \"awesome\""
print(x)

Hello Bob, this is "awesome"

## Boolean data types

In [58]:
x = 10
y = 5
print(x<y)

False

In [60]:
''' I'm using a conditional to figure out
whether x is greater than y. '''

x = 10
y = 55
if x > y: # This condition must return TRUE for the first line of code below to run.
    print ("x is greater than y")
else: # This line of code will only run if the first condition returns FALSE.
    print("Y is greater than x")

Y is greater than x