# While loop examples

In [7]:
x = 1

# While loop
while x < 11:
    print(x)
    x += 1

print("All done")

1
2
3
4
5
6
7
8
9
10
All done

## BREAK word example

In [8]:
x = 1
while x < 11:
    print(x)
    if x == 5: # Nested IF statement to demonstrate the BREAK keyword.
        break
    x += 1

1
2
3
4
5

# CONTINUE keyword (reserved) example

In [9]:
x = 1
while x < 11:
    x += 1
    if x == 5:
        continue
    print(x)

2
3
4
6
7
8
9
10
11

## Payroll example

In [12]:
hoursWorked = input("Enter the number of hours worked.")

while hoursWorked == "":
    print("You did not enter your hours.")
    hoursWorked = input("Please enter your hours.")
else:
    print(f"You worked {hoursWorked} hours this week.")

Enter the number of hours worked. blinky

You worked blinky hours this week.

# FOR loop example
For loops are used for iterating over a sequence, which could be a list, tuple, dictionary, etc.

Range Function: Often used with for loops to specify the number of iterations. The **range()** function generates a sequence of numbers, which you can loop through. For instance, for i in **range(5)**: will iterate 5 times.

In [14]:
# In this case the 'i' is the counter to be used in the loop.
# Remember that the range keyword uses an index, not the specific numbers!!!

# Remember indexing is from 0. 
# Numbers 0, 1, 2, 3, 4, 5

for i in range(1, 6): # The second number in this range is exclusive.
    print(i * i)

1
4
9
16
25

In [17]:
for index in range(1, 11):
    print(index)
print("Happy Birthday!")

1
2
3
4
5
6
7
8
9
10
Happy Birthday!

In [18]:
# Countdown example
for index in reversed(range(1, 11)):
    print(index)
print("Kabbom!")

10
9
8
7
6
5
4
3
2
1
Kabbom!

In [19]:
# Count by specific intervals
numbers = [1, 2, 3, 4, 5]

for index in numbers:
    print(index)

1
2
3
4
5

## Looping to find a value

In [24]:
searchParameter = int(input("What number are you searching for?"))

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    if number == searchParameter:
        print(f"Number {searchParameter} found, stopping the loop.")
        break
    print(number)

What number are you searching for? 7

1
2
3
4
5
6
Number 7 found, stopping the loop.

## Nested loop example

In [25]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element)

1
2
3
4
5
6
7
8
9

# List example

In [31]:
vehicles = ["F350", "Jeep", "Ram", "Motorcycle"]

print(vehicles[1:4])

['Jeep', 'Ram', 'Motorcycle']

In [29]:
# Searching a list

vehicles = ["F350", "Jeep", "Ram", "Motorcycle"]

for transportation in vehicles:
    print(transportation)

F350
Jeep
Ram
Motorcycle