# While loop examples

In [1]:
x = 1

while x < 11:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

## Break statement

In [3]:
x = 1
while x < 11:
    print(x)
    if x == 5:
        break
    x += 1

1
2
3
4
5

## Continue

In [4]:
x = 1
while x < 11:
    x += 1
    if x == 5:
        continue
    print(x)

2
3
4
6
7
8
9
10
11

## Payroll example

In [6]:
hoursWorked = input("Enter the number of hours worked: ")

while hoursWorked == "":
    print("You did not enter your hours.")
    hoursWorked = input("Please enter your hours: ")
else:
    print(f"You worked {hoursWorked} hours this week.")

Enter the number of hours worked:

You did not enter your hours.

Please enter your hours:

You did not enter your hours.

Please enter your hours:

You did not enter your hours.

Please enter your hours:

You did not enter your hours.

Please enter your hours:

You did not enter your hours.

Please enter your hours:  40

You worked 40 hours this week.

# For loop examples

In [7]:
for index in range(1, 6): # Remember that 6 is a range and non-inclusive.
    print(index * index)

1
4
9
16
25

In [8]:
for i in range (1, 6):
    print( i * i)

1
4
9
16
25

In [9]:
for i in range(1, 11):
    print(i)
print("Happy Birthday!")

1
2
3
4
5
6
7
8
9
10
Happy Birthday!

In [11]:
# Reverse the loop
for i in reversed(range(1, 11)):
    print(i)
print("Kaboom!")

10
9
8
7
6
5
4
3
2
1
Kaboom!

In [12]:
# Count by specific intervals
for i in range(1, 11, 2):
    print(i)
print("yes.")

1
3
5
7
9
yes.

## Looping through interations
Within a FOR loop, you can control the flow with 'break', 'continue', and 'else' but not if the loop exited through a break.

In [15]:
numbers = [11, 24, 3, 4, 5, 66, 7, 8, 9, 10]

for number in numbers:
    if number == 5:
        print("Number 5 found, stopping the loop.")
        break
    print(number)

11
24
3
4
Number 5 found, stopping the loop.

In [14]:
# Example of the continue reserved word

for i in range(1, 21):
    if i == 13:
        continue
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

# Nested Loops

In [16]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element)

1
2
3
4
5
6
7
8
9

# List examples

In [17]:
vehicles = ['F350', 'Jeep', 'Ram', 'Motorcycle']

print(vehicles[1])

Jeep

In [19]:
print(vehicles)

['F350', 'Jeep', 'Ram', 'Motorcycle']

In [20]:
for transportation in vehicles:
    print(transportation)

F350
Jeep
Ram
Motorcycle

# Book programming challenge
At one college, the tuition for a full-time student is $8,000 per semester. Tuition will be increasing by 3 percent each year for the next 5 years.

Write a program that displays the projected semester tuition amount for the next 5 years.

In [27]:
tuition = 8000.0

for index in range(1, 6):
    tuition *= 1.03
    if index == 1:
        print(f"In 1 year, the tuition will be ${tuition:.2f}.")
    else:
        print(f"In {index} years, the tuition will be ${tuition:.2f}.")

In 1 year, the tuition will be $8240.00.
In 2 years, the tuition will be $8487.20.
In 3 years, the tuition will be $8741.82.
In 4 years, the tuition will be $9004.07.
In 5 years, the tuition will be $9274.19.